.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: 0;

    @media screen and (max-width: 700px) {
        width: 90vw;
        margin: auto;
        padding: 10px;
        font-size: .8em;
    }

    &.title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .link {
        font-weight: 700;
        color: #1d6ceb;
    }

}
